.page-main
  .container
    .page-main__inner
      section.profit
        h2.profit__title На размер Вашей накопительной пенсии влияет инвестиционный доход, который НПФ «ЛУКОЙЛ-ГАРАНТ» ежегодно начисляет на Ваш счет
          sup 1
          | .
        .profit__row
          .profit__item.profit__item--left
            span.profit__val 8,22%
            p.profit__descr доход от инвестирования пенсионных накоплений
            span.profit__footnote В 2016
              sup 2
          .profit__item.profit__item--right
            span.profit__val 175,1%
            p.profit__descr Накопленная доходность фонда
            span.profit__footnote C 2005 по 2016гг
              sup 3
        h2.profit__title Накопленная доходность
        p.profit__text.profit__text--center распределенная на счета клиентов НПФ «ЛУКОЙЛ-ГАРАНТ» за 2009-2016 гг.<br> в сравнении с накопленной инфляцией и доходностью управляющей компании Внешэкономбанк (ВЭБ)  
        .profit__diagram
          canvas#profit__canvas.profit__canvas
          .profit__legend
            ul.profit__list
              li.profit__list-item.profit__list-item--red Накопленная доходность НПФ <q>ЛУКОЙЛ-ГАРАНТ</q>
              li.profit__list-item.profit__list-item--light-grey Накопленная инфляция
              li.profit__list-item.profit__list-item--blue Накопленная доходность ВЭБ
      section.invite
        .invite__inner
          h2.invite__title.invite__title--red Инвестиционный доход не сохраняется при смене фонда чаще 1 раза в 5 лет 
            sup 4
          p.invite__descr Если в этом году Вы подадите заявление о досрочном переводе пенсионных накоплений в другой негосударственный пенсионный фонд  или Пенсионный фонд Российской Федерации, Вы можете потерять инвестиционный доход.
          p.invite__descr Подробнее о потере инвестиционного дохода за определенный период узнайте в 
            a(href="/") Личном кабинете 
            | в разделе сообщения.
          .invite__row
            .invite__item.fl-left
              b.invite__item-title Я уже зарегестрирован
                i.icon.icon--key.invite__item-icon
              a(href="/").btn.btn--green.btn--full.invite__btn Перейти в Личный кабинет
            .invite__item.fl-right
              b.invite__item-title Хочу зарегистрироваться
                i.icon.icon--tablet.invite__item-icon
              a(href="/").btn.btn--green.btn--full.invite__btn Пройти регистрацию
              p.invite__item-descr Это займёт не более 30 секунд. Вам потребуется только паспорт или СНИЛС и мобильный телефон 
          h2.invite__title.invite__title--bottom Не теряйте инвестиционный доход — оставайтесь клиентом НПФ «ЛУКОЙЛ-ГАРАНТ»






