header.page-header
  .container
    .page-header__inner          
      a.page-header__logo(href="/")
        img(src="img/logo.svg" width="200" height="39" alt="Лукойл-гарант")
      h2.page-header__title Сохраните<br>инвестиционный<br>доход!