footer.page-footer
  .container
    .page-footer__inner
      .page-footer__footnotes
        p.page-footer__footnote
          sup 1 
          | В случае положительного результата инвестирования. Возможно увеличение или уменьшение дохода от инвестирования пенсионных накоплений, результаты инвестирования в прошлом не определяют доходов в будущем. Государство не гарантирует доходности инвестирования пенсионных накоплений. Необходимо внимательно ознакомиться с Уставом Фонда и его Страховыми правилами перед переводом пенсионных накоплений в Фонд.
        p.page-footer__footnote
          sup 2 
          | По данным Банка России на 31.12.2016.
        p.page-footer__footnote
          sup 3 
          | Накопленная доходность указана согласно внутренним расчетам НПФ «ЛУКОЙЛ-ГАРАНТ».
        p.page-footer__footnote
          sup 4 
          | Начисленный инвестиционный доход не сохраняется при переходе застрахованного лица из одного негосударственного пенсионного фонда в другой негосударственный пенсионный фонд или Пенсионный фонд Российской Федерации на основании заявления застрахованного лица о досрочном переходе, поданного до истечения 4-летнего срока с года вступления в силу договора об обязательном пенсионном страховании с фондом (ст. 36.6-1 Федерального закона от 07.05.1998  № 75-ФЗ «О негосударственных пенсионных фондах»).

      p.page-footer__text Получить подробную информацию об АО «НПФ «ЛУКОЙЛ-ГАРАНТ» можно по адресу: ул. Гиляровского, д. 39, стр. 3, Москва, 129110 или на сайте 
        a(href="www.lukoil-garant.ru") www.lukoil-garant.ru
      p.page-footer__text Лицензия Банка России №432 от 20.05.2014, бессрочная.


    