.page-main
  .container
    section.profit
      h2.profit__title На размер Вашей накопительной пенсии влияет инвестиционный доход, который НПФ «ЛУКОЙЛ-ГАРАНТ» ежегодно начисляет на Ваш счет
        sup 1
        | .
      .profit__row
        .profit__item.profit__item--left
          span.profit__val 8,22%
          p.profit__descr доход от инвестирования пенсионных накоплений
          span.profit__footnote В 2016
            sup 2
        .profit__item.profit__item--right
          span.profit__val 175,1%
          p.profit__descr Накопленная доходность фонда
          span.profit__footnote C 2005 по 2016гг
            sup 3
      h2.profit__title Накопленная доходность
      p.profit__text.profit__text--center распределенная на счета клиентов НПФ «ЛУКОЙЛ-ГАРАНТ» за 2009-2016 гг.<br> в сравнении с накопленной инфляцией и доходностью управляющей компании Внешэкономбанк (ВЭБ)  
      .profit__diagram
        canvas#profit__canvas.profit__canvas
        .profit__legend
          ul.profit__list
            li.profit__list-item.profit__list-item--red Накопленная доходность НПФ <q>ЛУКОЙЛ-ГАРАНТ</q>
            li.profit__list-item.profit__list-item--light-grey Накопленная инфляция
            li.profit__list-item.profit__list-item--blue Накопленная доходность ВЭБ


