.account {
  background: #fff;
  &__inner {
    padding: 70px 60px 0px;
    text-align: center;
  }

  &__title {    
    font-size: 28px;
    color: #cf456c;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__descr {    
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 40px;
  }

  &__row {
    font-size: 0;
    padding-bottom: 52px;
    border-bottom: 1px solid #eaeaea;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    width: 33.3333%;
    
    &-title {
      position: relative;
      padding-top: 80px;
      display: block;
    }

    &-icon {
      position: absolute;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: red;
    }
  }

  &__link {
    color: #465960;
    line-height: 1.3;
  }
}