.btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.25s;
  &--green {
    color: #58621b;
    background: #c1d548;    
    &:hover,
    &:active {
      background: darken(#c1d548, 10%)
    }
  }
  &--full {
    width: 100%;    
  }
}