.invite {
  background: #f8f9f9;

  &__inner {
    padding: 45px 60px 64px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    @media @small {
      padding: 20px 15px;
    }
  }

  &__title {
    margin-bottom: 40px;
    padding: 0 20px;
    text-align: center;
    font-size: 28px;
    letter-spacing: -0.6px;
    sup {
      font-size: 15px;
    }
    @media @small {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 8px;
    }
    &--red {
      color: #cf456c;
    }

    &--bottom {
      margin-bottom: 0;
      line-height: 1.25;
    }
  }//title

  &__descr {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 0.05px;
    @media @small {
      font-size: 12px;
      margin: 8px 0;
      margin-bottom: 20px;
      line-height: 1.7;
    }
  }

  &__row {
    .clearfix;
    margin-top: 69px;
    margin-bottom: 52px;
    padding: 0 10px;
    font-size: 0;
    box-sizing: border-box;
    @media @small {
      margin-top: 44px;      
    }

  }//row

  &__item {    
    width: 45%;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    @media @small {
      float: none;      
      width: 100%;
      margin-bottom: 38px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-title {
      position: relative;
      display: block;
      margin-bottom: 15px;
      text-align: center;
      padding-top: 58px;
    }//title

    &-icon {
      position: absolute;
      margin-left: -20px;
      top: 0;
      left: 50%;
      width: 40px;
      height: 40px;      
      border-radius: 50%;      
    }//icon

    &-descr {
      font-size: 13px;
      line-height: 1.4;
      @media @small {
        font-size: 11px;
        line-height: 1.7;
      }
    }
  }

  &__btn {    
    padding: 17px;
    text-decoration: none;
    box-sizing: border-box;
  }

}