.page-main {
  padding-bottom: 23px;
  background-image: url("../img/circle-big-bg.png"),
                    url("../img/circle-small-bg.png"),
                    url("../img/circle-medium-bg.png");
  background-position: left bottom, 260px bottom, 98% 80%;
  background-repeat: no-repeat; 
}
